.DS_Store
.atom/
.idea/
.vscode/

.packages
.pub/
.dart_tool/
pubspec.lock
flutter_export_environment.sh
coverage/

Podfile.lock
Pods/
.symlinks/
**/Flutter/App.framework/
**/Flutter/ephemeral/
**/Flutter/Flutter.podspec
**/Flutter/Flutter.framework/
**/Flutter/Generated.xcconfig
**/Flutter/flutter_assets/

ServiceDefinitions.json
xcuserdata/
**/DerivedData/

local.properties
keystore.properties
.gradle/
gradlew
gradlew.bat
gradle-wrapper.jar
.flutter-plugins-dependencies
*.iml

generated_plugin_registrant.cc
generated_plugin_registrant.h
generated_plugin_registrant.dart
GeneratedPluginRegistrant.java
GeneratedPluginRegistrant.h
GeneratedPluginRegistrant.m
GeneratedPluginRegistrant.swift
build/
.flutter-plugins

.project
.classpath
.settings

# FVM Version Cache
.fvm/
anura_flutter/example/android/app/.cxx/debug/442ct23c/hash_key.txt
anura_flutter/example/android/app/.cxx/debug/442ct23c/arm64-v8a/additional_project_files.txt
anura_flutter/example/android/app/.cxx/debug/442ct23c/arm64-v8a/android_gradle_build_mini.json
anura_flutter/example/android/app/.cxx/debug/442ct23c/arm64-v8a/android_gradle_build.json
anura_flutter/example/android/app/.cxx/debug/442ct23c/arm64-v8a/build_file_index.txt
anura_flutter/example/android/app/.cxx/debug/442ct23c/arm64-v8a/build.ninja
anura_flutter/example/android/app/.cxx/debug/442ct23c/arm64-v8a/cmake_install.cmake
anura_flutter/example/android/app/.cxx/debug/442ct23c/arm64-v8a/CMakeCache.txt
anura_flutter/example/android/app/.cxx/debug/442ct23c/arm64-v8a/configure_fingerprint.bin
anura_flutter/example/android/app/.cxx/debug/442ct23c/arm64-v8a/metadata_generation_command.txt
anura_flutter/example/android/app/.cxx/debug/442ct23c/arm64-v8a/prefab_config.json
anura_flutter/example/android/app/.cxx/debug/442ct23c/arm64-v8a/symbol_folder_index.txt
anura_flutter/example/android/app/.cxx/debug/442ct23c/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
anura_flutter/example/android/app/.cxx/debug/442ct23c/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
anura_flutter/example/android/app/.cxx/debug/442ct23c/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
anura_flutter/example/android/app/.cxx/debug/442ct23c/arm64-v8a/.cmake/api/v1/reply/cache-v2-8d1fda99b6e107ae23b8.json
anura_flutter/example/android/app/.cxx/debug/442ct23c/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-93faced592975941d53a.json
anura_flutter/example/android/app/.cxx/debug/442ct23c/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-b1ba51b5593c070693b4.json
anura_flutter/example/android/app/.cxx/debug/442ct23c/arm64-v8a/.cmake/api/v1/reply/directory-.-debug-f5ebdc15457944623624.json
anura_flutter/example/android/app/.cxx/debug/442ct23c/arm64-v8a/.cmake/api/v1/reply/index-2025-10-28T05-14-19-0647.json
anura_flutter/example/android/app/.cxx/debug/442ct23c/arm64-v8a/CMakeFiles/cmake.check_cache
anura_flutter/example/android/app/.cxx/debug/442ct23c/arm64-v8a/CMakeFiles/rules.ninja
anura_flutter/example/android/app/.cxx/debug/442ct23c/arm64-v8a/CMakeFiles/TargetDirectories.txt
anura_flutter/example/android/app/.cxx/debug/442ct23c/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
anura_flutter/example/android/app/.cxx/debug/442ct23c/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
anura_flutter/example/android/app/.cxx/debug/442ct23c/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
anura_flutter/example/android/app/.cxx/debug/442ct23c/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
anura_flutter/example/android/app/.cxx/debug/442ct23c/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
anura_flutter/example/android/app/.cxx/debug/442ct23c/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
anura_flutter/example/android/app/.cxx/debug/442ct23c/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
anura_flutter/example/android/app/.cxx/debug/442ct23c/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
anura_flutter/example/android/app/.cxx/debug/442ct23c/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
anura_flutter/example/android/app/.cxx/debug/442ct23c/armeabi-v7a/additional_project_files.txt
anura_flutter/example/android/app/.cxx/debug/442ct23c/armeabi-v7a/android_gradle_build_mini.json
anura_flutter/example/android/app/.cxx/debug/442ct23c/armeabi-v7a/android_gradle_build.json
anura_flutter/example/android/app/.cxx/debug/442ct23c/armeabi-v7a/build_file_index.txt
anura_flutter/example/android/app/.cxx/debug/442ct23c/armeabi-v7a/build.ninja
anura_flutter/example/android/app/.cxx/debug/442ct23c/armeabi-v7a/cmake_install.cmake
anura_flutter/example/android/app/.cxx/debug/442ct23c/armeabi-v7a/CMakeCache.txt
anura_flutter/example/android/app/.cxx/debug/442ct23c/armeabi-v7a/configure_fingerprint.bin
anura_flutter/example/android/app/.cxx/debug/442ct23c/armeabi-v7a/metadata_generation_command.txt
anura_flutter/example/android/app/.cxx/debug/442ct23c/armeabi-v7a/prefab_config.json
anura_flutter/example/android/app/.cxx/debug/442ct23c/armeabi-v7a/symbol_folder_index.txt
anura_flutter/example/android/app/.cxx/debug/442ct23c/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
anura_flutter/example/android/app/.cxx/debug/442ct23c/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
anura_flutter/example/android/app/.cxx/debug/442ct23c/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
anura_flutter/example/android/app/.cxx/debug/442ct23c/armeabi-v7a/.cmake/api/v1/reply/cache-v2-61984b366c3134d31922.json
anura_flutter/example/android/app/.cxx/debug/442ct23c/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-1eed5dc71a4e203ebf50.json
anura_flutter/example/android/app/.cxx/debug/442ct23c/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-ebff36b55922e8799184.json
anura_flutter/example/android/app/.cxx/debug/442ct23c/armeabi-v7a/.cmake/api/v1/reply/directory-.-debug-f5ebdc15457944623624.json
anura_flutter/example/android/app/.cxx/debug/442ct23c/armeabi-v7a/.cmake/api/v1/reply/index-2025-10-28T05-14-39-0201.json
anura_flutter/example/android/app/.cxx/debug/442ct23c/armeabi-v7a/CMakeFiles/cmake.check_cache
anura_flutter/example/android/app/.cxx/debug/442ct23c/armeabi-v7a/CMakeFiles/rules.ninja
anura_flutter/example/android/app/.cxx/debug/442ct23c/armeabi-v7a/CMakeFiles/TargetDirectories.txt
anura_flutter/example/android/app/.cxx/debug/442ct23c/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
anura_flutter/example/android/app/.cxx/debug/442ct23c/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
anura_flutter/example/android/app/.cxx/debug/442ct23c/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
anura_flutter/example/android/app/.cxx/debug/442ct23c/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
anura_flutter/example/android/app/.cxx/debug/442ct23c/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
anura_flutter/example/android/app/.cxx/debug/442ct23c/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
anura_flutter/example/android/app/.cxx/debug/442ct23c/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
anura_flutter/example/android/app/.cxx/debug/442ct23c/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
anura_flutter/example/android/app/.cxx/debug/442ct23c/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
anura_flutter/example/android/app/.cxx/debug/442ct23c/x86_64/additional_project_files.txt
anura_flutter/example/android/app/.cxx/debug/442ct23c/x86_64/android_gradle_build_mini.json
anura_flutter/example/android/app/.cxx/debug/442ct23c/x86_64/android_gradle_build.json
anura_flutter/example/android/app/.cxx/debug/442ct23c/x86_64/build_file_index.txt
anura_flutter/example/android/app/.cxx/debug/442ct23c/x86_64/build.ninja
anura_flutter/example/android/app/.cxx/debug/442ct23c/x86_64/cmake_install.cmake
anura_flutter/example/android/app/.cxx/debug/442ct23c/x86_64/CMakeCache.txt
anura_flutter/example/android/app/.cxx/debug/442ct23c/x86_64/configure_fingerprint.bin
anura_flutter/example/android/app/.cxx/debug/442ct23c/x86_64/metadata_generation_command.txt
anura_flutter/example/android/app/.cxx/debug/442ct23c/x86_64/prefab_config.json
anura_flutter/example/android/app/.cxx/debug/442ct23c/x86_64/symbol_folder_index.txt
anura_flutter/example/android/app/.cxx/debug/442ct23c/x86_64/.cmake/api/v1/query/client-agp/cache-v2
anura_flutter/example/android/app/.cxx/debug/442ct23c/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
anura_flutter/example/android/app/.cxx/debug/442ct23c/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
anura_flutter/example/android/app/.cxx/debug/442ct23c/x86_64/.cmake/api/v1/reply/cache-v2-4d9d59d09dd768536013.json
anura_flutter/example/android/app/.cxx/debug/442ct23c/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-1186bdbb10c00671875d.json
anura_flutter/example/android/app/.cxx/debug/442ct23c/x86_64/.cmake/api/v1/reply/codemodel-v2-09e7696425e528648281.json
anura_flutter/example/android/app/.cxx/debug/442ct23c/x86_64/.cmake/api/v1/reply/directory-.-debug-f5ebdc15457944623624.json
anura_flutter/example/android/app/.cxx/debug/442ct23c/x86_64/.cmake/api/v1/reply/index-2025-10-28T05-14-39-0632.json
anura_flutter/example/android/app/.cxx/debug/442ct23c/x86_64/CMakeFiles/cmake.check_cache
anura_flutter/example/android/app/.cxx/debug/442ct23c/x86_64/CMakeFiles/rules.ninja
anura_flutter/example/android/app/.cxx/debug/442ct23c/x86_64/CMakeFiles/TargetDirectories.txt
anura_flutter/example/android/app/.cxx/debug/442ct23c/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
anura_flutter/example/android/app/.cxx/debug/442ct23c/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
anura_flutter/example/android/app/.cxx/debug/442ct23c/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
anura_flutter/example/android/app/.cxx/debug/442ct23c/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
anura_flutter/example/android/app/.cxx/debug/442ct23c/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
anura_flutter/example/android/app/.cxx/debug/442ct23c/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
anura_flutter/example/android/app/.cxx/debug/442ct23c/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
anura_flutter/example/android/app/.cxx/debug/442ct23c/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
anura_flutter/example/android/app/.cxx/debug/442ct23c/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
